/* GENERAL */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAVBAR */
header {
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: right;
}

header * {
  display: inline;
}

header li {
  margin: 20px;
}

header li a {
  color: #E0E1Dc;
  padding: 20px;
  text-decoration: none;
}

header li a:hover {
  color: #899d8e;
}

/* HOME */
#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#home-content {
  color: #E0E1Dc;
  display: flex;
  flex-direction: column;
  padding: 150px;
  font-size: xx-large;
  display: inline-block;
}

#greeting {
  color: #899d8e;
}

#content {
  color: #899d8e;
  margin: -5px;
}


#name {
  margin: -5px;
}

#home-text-content {
  width: 500px;
  color: #E0E1Dc;
  display: flex;
  margin-top: -120px;
  margin-left: 150px;
  font-size: large;
}

#github-icon {
  margin-left: 150px;
  padding-top: 70px;
  width: 60px;
}

#linkedIn-icon {
  width: 60px;
  height: 60px;
  padding-left: 40px;
}

@media screen and (max-width: 600px)
{
  #name {
    font-size: 36px;
    line-height: 50px;
    white-space: nowrap;
    margin-left: -100px;
    overflow-x: hidden;
  }
  #greeting {
    font-size: 25px;
    line-height: 30px;
    white-space: nowrap;
    margin-left: -100px;
    margin-top: -120px;
    overflow-x: hidden;
  }
  #content {
    font-size: 36px;
    line-height: 50px;
    margin-left: -100px;
    overflow-x: hidden;
  }
  #home-text-content {
    margin-left: 50px;
    margin-right: 50px;
    width: 300px;
    margin-top: -70px;
    overflow-x: hidden;
  }
  #github-icon {
    margin-left: 50px;
    margin-top: -40px;
    overflow-x: hidden;
  }
  #video {
    height: 100%;
    overflow-x: hidden;
  }
}

/* ABOUT */
#page-title {
  color: #899d8e;
  margin-top: -15px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

#about-me {
  text-align: center;
}

#p1 {
  color: #E0E1Dc;
  width: 700px;
  display: inline-block;
  text-align: left;
}

#about {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.column {
  padding: 5px;
}

#photos {
  border-radius: 50%;
  width: 200px;
  height: 200px
}

@media screen and (max-width: 600px)
{
  #p1 {
    width: 300px;
  }
  #page-title {
    margin-top: 15px;
  }
  #photos {
    height: 1px;
    width: 1px;
  }
}

/* PROJECTS */
#project-photo {
  width: 800px;
  border-radius: 50px;
  border: 5px solid white;
}

#counter {
  display: flex;
  justify-content: center;
}

#projects-title {
  display: flex;
  justify-content: center;
  color: #899d8e;
}

#projects-container {
  text-align: center;
}

#text-content {
  color: #E0E1Dc;
  width: 700px;
  display: inline-block;
  text-align: center;
  font-size: large;
  padding-top: 20px;
  margin: 20px;
}

#source-code {
  background: #899d8e;
  border-radius: 999px;
  color: #E0E1Dc;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 18px;
  text-decoration: none;
}

#button-container {
  margin-top: 20px;
  margin-bottom: 100px;
}

@media screen and (max-width: 600px)
{
  #project-photo {
    width: 350px;
  }
  #text-content {
    width: 350px;
  }
}

/* CONTACT */
#text-content-link {
  color: #E0E1Dc;
  width: 700px;
  display: inline-block;
  text-align: center;
  font-size: large;
  padding-top: 20px;
  margin: 20px;
  text-decoration: underline;
}

#contact-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

@media screen and (max-width: 600px)
{
  #text-content-link {
    width: 350px;
  }
}